.nav_top {
  height: 37px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.nav_top_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_top_flex {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.nav_top_flex p {
  color: rgb(126, 126, 126);
  font-family: Lato;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_medium {
  height: 111px;
  box-sizing: border-box;
  padding-top: 25px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.nav_medium_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.navbar__search {
  border: 2px solid rgb(188, 227, 201);
  border-radius: 4px;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px;
}
.navbar__search input {
  flex: 1;
  text-indent: 12px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.navbar__search .lupa {
  background: var(--bg-sy);
  border: none;
  border-radius: 0 4px 4px 0;
}
#all {
  border: 0;
  outline: 0;
  color: rgb(37, 61, 78);
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
}
.btn_loc {
  width: 164px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn_loc {
  outline: 0;
  border: 0;
  color: rgb(59, 183, 126);
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0%;
}
.nav_med {
  display: flex;
  align-items: baseline;
  gap: 5px;
  cursor: pointer;
}
.nav_med_flex {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.nav_med p {
  color: rgb(126, 126, 126);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.link {
  text-decoration: none;
}
.nav_bottom {
  padding: 10px;
  box-sizing: border-box;
  padding-top: 35px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.btn_browe {
  width: 255.42px;
  height: 44px;
  border-radius: 5px;
  border: 0;
  background: rgb(59, 183, 126);
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  cursor: pointer;
}
.nav_bot_flex {
  display: flex;
  gap: 40px;
  padding-top: 2px;
  flex-wrap: wrap;

  align-items: center;
}
#cate {
  outline: 0;
  border: 0;
  background: 0;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}
.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.nav h3:hover {
  color: rgb(59, 183, 126);
}
.nav_flex {
  display: flex;
  justify-content: space-between;
}
.nav_flex h3 {
  color: rgb(37, 61, 78);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0%;
  cursor: pointer;
}
.handphone {
  display: flex;
  flex-direction: column;
}
.phone {
  display: flex;
  align-items: center;
  gap: 13px;
}
.handphone h1 {
  color: rgb(59, 183, 126);
  font-family: Quicksand;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.handphone p {
  color: rgb(126, 126, 126);
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.9px;
  text-align: left;
}
.menu {
  display: none;
  border: 0;
  font-size: 40px;
  background: 0;
  cursor: pointer;
  text-align: left;
  padding-top: 15px;
}

.nav_bot_flexx {
  padding-top: 15px;
}

@media (max-width: 1200px) {
  .nav_top {
    display: none;
  }
  .nav_med_flex {
    position: fixed;
    background: white;
    bottom: 0;
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 170px;
    border-top: 1px solid rgb(215, 215, 215);
  }
  .menu {
    display: block;
  }
  .nav_bot_flex {
    position: absolute;
    top: 195px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: #f7f7f7;
    box-shadow: 0 3px 5px #0002;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    line-height: 2;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
  }
  .nav_bot_flex.show {
    transform: scaleY(1);
  }
}

@media (max-width: 900px) {
  .nav_med_flex {
    background: white;
    position: fixed;
    bottom: 0;
    gap: 100px;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    display: flex;
    padding-top: 10px;
    border-top: 1px solid rgb(215, 215, 215);
  }
  .btn_loc {
    display: none;
  }
  .navbar__search {
    width: 20px;
  }
}
@media (max-width: 768px) {
  .nav_med_flex {
    position: fixed;
    background: white;
    bottom: 0;
    gap: 21px;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    display: flex;
    border-top: 1px solid rgb(215, 215, 215);
  }
  .nav_med_flex img {
    width: 20px;
  }
  .btn_loc {
    display: none;
  }
  .navbar__search input {
    width: 10px;
  }
}
